**/*.class
**/*.iml
**/*.jar
**/*.out
**/*.pyc
**/*.swp
**/.*.swo
**/.*.swp
**/.cpcache
**/.idea
**/.tags
**/tags
*.db
*jar
.DS_Store
.ipynb_checkpoints
.lein-*
.lein-deps-sum
.lein-plugins
.lein-repl-history
.nrepl-port
.rebel_readline_history
.repl
.tmp.*
.vagrant
.vim/.netrwhist
/.lein-*
/.nrepl-port
/checkouts
/classes
/lib
/node_modules
/out
/resources/public/js/compiled/**
/target
/test-results
Icon?
TESTS-Chrome*.xml
classes
figwheel_server.log
out*.txt
package-lock.json
pom.xml
pom.xml.asc
profiles.clj
.DS_Store
